
*.ipch
*.exe
*.ilk
*.pdb
*.opendb
*.obj
*.idb
*.tlog
*.db
.vs/YsVIII_model_dump/v15/.suo
*.pch
*.log
*.dds
.vs/YsVIII_model_dump/v16/.suo
*.db-shm
*.db-wal
*.bat
*.exp
*.lib
*.dll
*.iobj
*.ipdb
*.idx
YsVIII_model_dump/x64/Debug/YsVIII_model_dump.vcxproj.FileListAbsolute.txt
YsVIII_model_dump/x64/Debug/YsVIII_model_dump.exe.recipe
YsVIII_model_dump/model.fbx
*.bin
*.cmd
*.txt
*.swatch
*.bones
*.dae
*.kan7
*.ini
*.glb
*.glb
*.glb
